html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #DDDDDD;
    font-family: sans-serif;
}

.calc-body {
    background-color: #AAAAAA;
    border: 4px solid grey;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    width: 500px;
    padding: 30px;
    gap: 30px;
}

.display {
    flex-basis: 200px;
    background-color: #DDDDDD;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.history {
    font-size: 24px;
    width: 90%;
    text-align:end;
}

.displayContents {
    font-size: 48px;
    width: 90%;
    text-align: center;
}

.input {
    flex-basis: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: auto;
    padding: 16px;
}

.row1, .row2, .row3, .row4, .row5 {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
}

.inputButton, .eval {
    border: 4px solid #777777;
    border-radius: 100px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
}

.eval {
    flex-basis: 100%;
    display: flex;
}

.inputButton {
    flex-basis: 22%;
}

.eval:hover, .inputButton:hover {
    background-color: #888888;
}